/* App.less Style Sheets */
/* Less Variables */
/* Main Tags */
a {
  text-decoration: none;
  color: #3498db;
  -o-transition: color 0.2s ease-out, background 1s ease-in;
  -ms-transition: color 0.2s ease-out, background 1s ease-in;
  -moz-transition: color 0.2s ease-out, background 1s ease-in;
  -webkit-transition: color 0.2s ease-out, background 1s ease-in;
  transition: color 0.2s ease-out, background 1s ease-in;
}
a:hover,
a:active {
  color: #f1c40f;
  text-decoration: none;
}
.main {
  padding: 60px 40px;
}
.center {
  text-align: center;
  margin: auto;
}
.row {
  margin: 20px;
}
.line {
  stroke: #000;
  stroke-dasharray: 3,3;
}
blockquote {
  padding: 10px 20px;
  margin: 20px;
  font-size: 12px;
  border-left: 5px solid #eee;
}
blockquote p {
  margin: 0;
}
#chart,
#chartalt {
  position: absolute;
  top: 0;
}
#chart {
  z-index: 0;
}
#chartalt {
  z-index: 1;
}
.d3-tooltip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tooltip:after {
  box-sizing: border-box;
  display: block;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
  margin-top: 10px;
  margin-right: 10px
}

/* Style northward tooltips differently */
.d3-tooltip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
